python-3.12.16
fastapi==0.111.0
uvicorn[standard]==0.23.1
spacy==3.7.2
blis==0.10.10
textblob==0.17.1
langdetect==1.0.9
tabulate==0.9.0
python-dotenv==1.0.0
google-genai==0.2.0
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
zh-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/zh_core_web_sm-3.7.0/zh_core_web_sm-3.7.0-py3-none-any.whl
